<header class="intro">
  <h1 class="intro__tagline"><span class="intro__greeting">Hey there!
    <span class="emoji wave-hand animated"></span></span>I'm
    <span class="name">Atharv Gupta</span>, a computer science student at UC Irvine.
    I like building things, especially AI tools and apps I can put in front of people.
  </h1>

  <div class="intro__cta">
    <a href="mailto:atharvgups@gmail.com" target="_blank" class="button">Get in touch</a>
    <a href="{{site.resume}}" target="_blank" class="intro__resume">View resume</a>
  </div>
</header>
