<section class="section other-projects">
  <div class="section__title"><span class="section__num">4</span>Projects</div>
  <div class="section__content">
    <div class="projects-marquee">
      <div class="marquee-col">
        <div class="marquee-track marquee-track--up">
          <div class="marquee-set">
            {% for project in site.data.other-projects limit: 4 %}{% include project-card.html project=project %}{% endfor %}
          </div>
          <div class="marquee-set marquee-set--dup" aria-hidden="true">
            {% for project in site.data.other-projects limit: 4 %}{% include project-card.html project=project %}{% endfor %}
          </div>
        </div>
      </div>
      <div class="marquee-col">
        <div class="marquee-track marquee-track--down">
          <div class="marquee-set">
            {% for project in site.data.other-projects offset: 4 %}{% include project-card.html project=project %}{% endfor %}
          </div>
          <div class="marquee-set marquee-set--dup" aria-hidden="true">
            {% for project in site.data.other-projects offset: 4 %}{% include project-card.html project=project %}{% endfor %}
          </div>
        </div>
      </div>
    </div>
    <a href="https://github.com/atharvgups" target="_blank" class="arrow-link projects__more">More on GitHub</a>
  </div>
</section>
